<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackcrisis.shopsafeuser">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cart"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_cart"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".RecentOrdersActivity"></activity>
        <activity android:name=".OrderViewActivity" />
        <activity android:name=".ConfirmOrderActivity" />
        <activity android:name=".CartViewActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_hm9uR6b7qPqtH6" />
    </application>

</manifest>